on early-init
    write /sys/class/leds/lcd-backlight/brightness 255
    
on boot
    setprop ro.hardware.keystore none
    setprop ro.hardware.keymaster none
    setprop ro.hardware.health none

on early-init
    mkdir /cache 0770 system system
    mount ext4 /dev/block/platform/bootdevice/by-name/cache /cache wait,check,formattable
    chmod 0770 /cache
    chown system system /cache
    write /cache/mytesttwrp.log "== TWRP early init reached =="
    start adbd

service adbd /sbin/adbd
    class core
    seclabel u:r:adbd:s0
    user root
    group root shell
    disabled
    oneshot

on property:sys.usb.ffs.ready=1
    start adbd

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw 
   
service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on post-fs
    start mtk.plpath.utils.link

    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b
    symlink /dev/block/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
on boot
